h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: max-content max-content;
  align-content: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.titulos {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  margin-top: 20px;
}

.foto {
  width: 220px;
  border: 6px solid #2b2b2b;
  border-radius: 5px;
}

.Dev {
  color: white;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 0.7;
}

.subDev {
  color: #d40d0d;
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 0.9;
}

.nome {
  color: #a0a0a0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 0.9;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .foto {
    width: 170px;
  }
  .container {
    gap: 15px;
    margin-top: 30px;
  }
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 15px;
  }
  .foto {
    display: none;
  }
  .titulos {
    justify-items: center;
  }
  .nome {
    margin-bottom: 25px;
    font-size: 3rem;
  }
  .Dev {
    font-size: 5rem;
  }
  .subDev {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .nome {
    margin-bottom: 25px;
    font-size: 2rem;
  }
  .Dev {
    font-size: 4rem;
  }
  .subDev {
    font-size: 2.5rem;
  }
}
